pkgbase = pciutils
	pkgdesc = PCI bus configuration space access library and tools
	pkgver = 3.13.0
	pkgrel = 1
	url = https://mj.ucw.cz/sw/pciutils/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	depends = glibc
	depends = hwdata
	depends = kmod
	optdepends = which: for update-pciids
	optdepends = grep: for update-pciids
	optdepends = curl: for update-pciids
	source = git+https://git.kernel.org/pub/scm/utils/pciutils/pciutils.git#tag=v3.13.0?signed
	validpgpkeys = C466A56CADA981F4297D20C31F3D0761D9B65F0B
	sha256sums = a198253ac31ee593aeaa4e84c4393f7ad9b1e513ebc6f85c42802dc4c744691d

pkgname = pciutils
